@using React.AspNet
@model UI.Controllers.MainController.IndexViewModel
<!DOCTYPE html>
<html lang="en" data-theme='business'>
<head>
  <title>Hazardous Asteroids</title>
  <meta charset="utf-8" />
  <link rel="icon" href="~/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Search for any asteroid flagged as potentially hazardous by NASA" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/4.8.0/react-datepicker.min.css" crossorigin="anonymous"  
    integrity="sha512-aYEYUjp9yK/nWJmnCSQhSi24MUkzbnsf4pz4T7hrVVBf6Zmo+ijrz5PvNs6fcDLJmOl7GUB9fMeRfo3OJS8DSw==" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="~/main.css" />
</head>
<body>
  <div class="app-container">
    <!-- Render the component server-side, passing initial props -->
    @Html.React("App", new { })
  </div>
  <!-- Load all required scripts -->
  @Html.ReactGetScriptPaths()
  <!-- Render the code to initialise the component -->
  @Html.ReactInitJavaScript()
</body>
</html>